html body {
  height: 100vh;
}
#image_container {
  height: 85vh;
}
.image_in_grid {
  width: 100px;
  margin: 5px;
  display: inline-block;
}
.image_in_grid img {
  width: 100%;
}

@media only screen and (min-width: 641px) {
  .image_in_grid {
    width: 230px;
    margin: 5px;
  }
}